.getting-started-form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .MuiFormControl-root {
    min-width: 450px;
  }
  .MuiButtonBase-root {
    height: 60px;
    font-size: 1.3rem;
    border-radius: 0;

    .MuiSvgIcon-root {
      font-size: 1.625rem;
      color: #ffffff;
    }
  }
  .text--sm {
    margin: 20px 0 10px;
  }
  .form-container {
    display: flex;
  }
}
